<h1>Listing investments</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Portfolio</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investments.each do |investment| %>
  <tr>
    <td><%= investment.company_id %></td>
    <td><%= investment.portfolio_id %></td>
    <td><%= investment.quantity %></td>
    <td><%= investment.cost %></td>
    <td><%= link_to 'Show', investment %></td>
    <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
    <td><%= link_to 'Destroy', investment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Investment', new_investment_path %>
